img.img-size {
    width: 35%;
}

.card-body .btn-primary:hover{
    color: $primary ;
    background-color:$body-bg;
    border-color: $primary ;
}

@media (min-width: 768px) {
    
    .move-down2 {
        padding-top: 4rem;
    }

    .move-down3 {
        padding-top: 8rem;
    }

}

