.blue-form-right {
    width: 150%;
    height: 75%;
    position: absolute;
    z-index: -1;
    translate: 20% 40%;
}

.hero .btn-primary:hover {
    color: $primary ;
    background-color:$body-bg;
    border-color: $primary ;
}

.hero .btn-light:hover {
    color: $dark !important;
    background-color: $body-bg;
    border-color: $dark;
}