//=======================================================
/// MODIFIY BOOTSTRAP VARIABLES  
//=======================================================
////// MAP OF COLORS
//////*****************

$primary: #5265E1;
$secondary: #FA5959;



$navbar-light-brand-color:          $navbar-dark-active-color !default;
$navbar-light-brand-hover-color:   $navbar-dark-active-color !default;


// Required

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Create your own map with custom colors

$custom-colors: (
  "c-dark-blue": $blue-800,
  "c-gray": $gray-600,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

//=======================================================
////// TYPOGRAPHY
//////*****************
// $font-size-base:  10px !important;
$font-size-root:              62.5% !important;